In [18]:
from prophet import Prophet
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/facebook/prophet/main/examples/example_wp_log_peyton_manning.csv')
df.head()

/Users/wjs/Workspaces/pyenv-settings/.venv/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.

           ds         y
0  2007-12-10  9.590761
1  2007-12-11  8.519590
2  2007-12-12  8.183677
3  2007-12-13  8.072467
4  2007-12-14  7.893572

In [20]:
m = Prophet()
m.fit(df)

09:12:48 - cmdstanpy - INFO - Chain [1] start processing
09:12:49 - cmdstanpy - INFO - Chain [1] done processing

In [21]:
future = m.make_future_dataframe(periods=365)
future.tail()

             ds
3265 2017-01-15
3266 2017-01-16
3267 2017-01-17
3268 2017-01-18
3269 2017-01-19